################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevOpsDemo/v15
/DevOpsDemo
/DevOpsDemo.Test/bin/Debug/netcoreapp2.2
/DevOpsDemo.Test/obj
/.vs/config
/.vs/DevOpsDemo/DesignTimeBuild
